.header{
    grid-area: header;
    /* background-color: orange; */
    display: flex;
    grid-area: header;
    text-align: center;
    justify-content: center;
    
    
}
.body{
    grid-area: body;
    /* background-color: rgb(255, 179, 37); */
    color: white;
    margin: 0 20%;
    font-size: 30px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    

}
.publicidad{
    grid-area: publicidad;
    /* background-color: rgb(255, 196, 86); */
}
.footer{
    grid-area: footer;
    /* background-color: rgb(255, 211, 130); */
}
.grid{
    background-repeat: no-repeat;
    background-color: #222222;
    background-size: cover;
    font-family: sans-serif;
    background-image: url('../img/FONDO.jpg');
    display: grid;
   grid-template-areas:
     "header header header"
     "body body publicidad"
     "footer footer footer"
     ;
   grid-template-rows: 190px 1fr 75px; 
   grid-template-columns: 20% auto 15%;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   height: 100vh;
   margin: 0;
}
.logo{
    background: url("./../img/SushiOkaohLogo.jpg");
    height: 190px;
    width: 190px;
    background-size: cover;
    border-radius: 50%;
}